# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/*.pyc
backend/Resume_Analysis_Report.pdf

# Frontend
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db